<a href="https://colab.research.google.com/github/Patilpankajsudhakar/GroupNo4--Topic4/blob/main/Copy_of_11_06_21_Function_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Function Excercises

1. How to define and call a function in Python
2. Significance of Indentation (Space) in Python
3. How Function Return Value?
4. Arguments in Functions

1. Write a Python function to find the Max of three numbers.

In [1]:
def max2(a,b):
    if a<b:
        return(b)
    else:
        return(a)
 
print("Maximum number is ",max2(3,6))
 
def max3(x,y,z):
    return(max2(x,max2(y,z)))
 
print("Maximum number is ",max3(3,9,7))

Maximum number is  6
Maximum number is  9

In [2]:
def max2(a,b):
    if a<b:
        print("Maximum number is ",b)
    else:
        print("Maximum number is ",a)
    
max2(2,3)
 
def max3(x,y,z):
    if x>y and x>z:
        print("Maximum number is ",x)
    elif y>z:
        print("Maximum number is ",y)
    else:
        print("Maximum number is ",z)
            
max3(6,3,8)

Maximum number is  3
Maximum number is  8

2. Write a Python function to sum all the numbers in a list. 
Sample List : (8, 2, 3, 0, 7)
Expected Output : 20

In [3]:
sample_list=(8, 2, 3, 0, 7)

print(sample_list)

def sum2(list1):
    total=0
    for i in list1:
        total+=i
    return(total)

print(sum2(sample_list))

(8, 2, 3, 0, 7)
20

3. Write a Python function to multiply all the numbers in a list. 
Sample List : (8, 2, 3, -1, 7)
Expected Output : -336

In [4]:
sample_list=(8, 2, 3, -1, 7)

print(sample_list)

def multi_list(list1):
    total=1
    for i in list1:
        total*=i
    return(total)

print(multi_list(sample_list))

(8, 2, 3, -1, 7)
-336

4. Write a Python program to reverse a string. 
Sample String : "1234abcd"
Expected Output : "dcba4321"

In [5]:
list1="1234abcd"
def reverse(list1):
    list2=""
    for i in list1:
        list2=i+list1
    return list2

print(reverse(list1))

d1234abcd

5. Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [7]:
5!=1*2*3*4*5
 
n=int(input("Enter the number\t:"))
 
def fact(x):
    if x<0:
        return 0
    elif x==1 or x==0:
        return 1
    else:
        return(x*fact(x-1))
        
        
print("factorial of n ", fact(n))

Enter the number	:5
factorial of n  120

6. Write a Python function to check whether a number is in a given range.

In [ ]:
def is_in(x,y,z):
    if x in range(y,z+1):
        print("%d is in (%d,%d)"%(x,y,z))
    else:
        print("%d is not in (%s,%s)"%(x,y,z))
 
n=int(input("Enter the number n\t:"))
a=int(input("Enter the number a\t:"))
b=int(input("Enter the number b\t:"))
is_in(n,a,b)

In [ ]:
L=range(1,5)
for i in L:
    print(i)

7. Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters. 
Sample String : 'The quick Brow Fox'
Expected Output :
No. of Upper case characters : 3
No. of Lower case Characters : 12

In [ ]:
def cal_cases(s):
    n_Upper=0
    n_Lower=0
    for i in s:
        if i.isupper():
            n_Upper+=1
        elif i.islower():
            n_Lower+=1
    print(n_Upper)
    print(n_Lower)
 
s=input("Enter the statement\t:")
cal_cases(s)

8. Write a Python function that takes a list and returns a new list with unique elements of the first list. 
Sample List : [1,2,3,3,3,3,4,5]
Unique List : [1, 2, 3, 4, 5]

In [ ]:
def set2(Sample_List):
    temp_list=[]
    for i in Sample_List:
        if i not in temp_list:
            temp_list.append(i)
    return(temp_list)
 
Sample_List=[1,2,3,3,3,3,4,5]
print("Unique List:",set2(Sample_List))

9. Write a Python function that takes a number as a parameter and check the number is prime or not. 
Note : A prime number (or a prime) is a natural number greater than 1 and that has no positive divisors other than 1 and itself.

In [ ]:
def is_prime(n):
    flag=0
    for i in range(2,n): 
        if n%i==0:
            print("The given number %d is not prime."%n)
            flag=1
            break
 
    if flag==0:
        print("The given number %d is prime."%n)
 
n=int(input("Enter the integer\t:"))
is_prime(n)
is_prime(n+1)
is_prime(n+2)
is_prime(n+3)

In [ ]:
def factors(n):
    temp=[]
    for i in range(1,n+1):
        if n%i==0:
            temp.append(i)
    return temp
 
n=int(input("Enter the integer\t:"))
print(factors(n))

10. Write a Python program to print the even numbers from a given list. 
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]

In [ ]:
def is_evenlist(l):
    evenlist = []
    for n in l:
        if n % 2 == 0:
            evenlist.append(n)
    return evenlist
 
n=int(input("List Length\t:"))
list1=[]
for i in range(n):
    list1.append(int(input("")))
    
print(is_evenlist(list1))

In [ ]:
n=int(input("List Length\t:"))
list1=[]
for i in range(n):
    list1.append(int(input("")))
 
print(list1)

# Functions with Default Positional Arguments

In [ ]:
def greet(name,msg):
    print("Hello %s, %s!!!!!"%(name,msg))
    
greet("Jagruti","Good Afternoon")

Hello Jagruti, Good Afternoon!!!!!

In [ ]:
def greet(name,msg="Morning"):# default argument
    print("Hello %s, %s!!!!!"%(name,msg))
    
greet("Jagruti","Good Afternoon")

Hello Jagruti, Good Afternoon!!!!!

In [ ]:
greet(msg="Good Afternoon",name="Jagruti")   # Positions doesnt matter if variable names are provided

In [ ]:
greet(name="Jagruti")

TypeError: ignored

In [ ]:
fun=lambda x,y: x**2+y
fun(2,3)

7